header{
    @include flexbox-center;
    padding: 20px 0 15px 0;
    a{
        position: absolute;
        top: 25px;
        left: 25px;
        font-size: 1.5em;
    }
}

#logo--header{
    width: 162px;
    height: 30px;
}