.like{
    position: relative;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        position: absolute;
        width: 25px;
        height: 25px;
        font-size: 1.8em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.heart{
    opacity: 1;
    transition: 1s;
    &-color{
        opacity: 0;
        transition:  all 1s;
        &:hover{
            background:-webkit-linear-gradient(#9356DC,#FF79DA);
            background-clip:text;
            -webkit-background-clip:text;
            color:transparent;
            opacity: 1;
            transform: scale(1.1);
        }   
    }
}




