#description{
    &__localisation{
        background-color: #eaeaea;
        @include flexbox-center;
        padding: 15px 0;
        i{
            height: 20px;
            width: 20px;
            margin-right: 10px;
            @include flexbox-center;
        }
        input{
            background-color: $color-background;
            border: none;
            padding: 0;
        }
    }
    &__mini{
        background-color: lighten($color-background, 5);
        @include flexbox-center(column);
        h1{
            margin-top: 40px;
            text-align: center;
            font-size: 2em;
        }
        p{
            margin-top: 20px;
            font-size: 1.5em;
            text-align: center;
        }
        a{
            background: linear-gradient($color-secondary 
            ,$color-primary);
            text-decoration: none;
            color:$color-white;
            height: 50px;
            width: 275px;
            @include flexbox-center;
            border-radius: 25px;
            @include shadow;
            font-size: 1.3em;
            margin-top: 35px;
            margin-bottom: 60px;

            &:hover{
                background: linear-gradient($color-secondary-lighten,$color-primary-lighten);
                @include shadow(15px);
            }
        }
    } 
}

#section--working{
    padding-top: 50px;
    @include desktop{
        padding-top: 30px;
    }
    >h2{
        margin: 0px 0 10px 20px;
        font-size: 2em;
    } 
}

.working{
    @include flexbox-center(column);
    margin-bottom: 70px;
    @include desktop{
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    &__instructions{
        width: 86%;
        height: 75px;
        background-color: #f6f6f6;
        border-radius: 25px;
        @include shadow;
        margin-top: 20px;
        @include flexbox-center;
        position: relative;
        &:hover{
            background: linear-gradient($color-secondary-lighten,$color-primary-lighten,);
        }
        @include desktop{
            width: 28%;
        }
        h2{
            width: 25px;
            height: 25px;
            background-color: #9356DC;
            border-radius: 13px;
            @include flexbox-center;
            position: absolute;
            left: -12.5px;
            color: $color-white;
            font-size: 1.3em;
        }
        i{
            font-size: 1.5em;
        }
        p{
            font-size: 1.5em;
            margin-left: 20px;
        }  
    }
}

#restaurant{
    background-color: $color-background;
    padding: 60px 0;
    @include desktop{
        padding: 30px 0;
    }
    >h1{
        margin-left: 20px;
    }
}

.selection{
    @include flexbox-center(column);
    @include desktop{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__restaurant{
        background-color: $color-white;
        width: 89.3%;
        border-radius: 20px;
        @include shadow;
        text-decoration: none;
        color: black;
        margin-top: 15px;
        @include desktop{
            width: 45%;
        }
    }
}

.image--resto{
    position: relative;
    img{
        height: 175px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0; 
    }
    .new{
        background-color: $color-tertiary;
        color: darken($color-tertiary,50);
        height: 30px;
        width: 78px;
        @include flexbox-center;
        font-size: 1.2em;
        font-weight: bold;
        position: absolute;
        top: 13px;
        right: 13px;
    }
}      

.information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin-left: 10px;
    .texte{
        h1{
            font-size: 1.8em;
            font-weight: bold;
        }
        p{
            font-size: 1.6em;
        }
    }
}

.spinloader {
    animation: spinloader 3000ms;
    animation-delay: 1s;
    animation-fill-mode: both;
    background:linear-gradient(#9356DC,#FF79DA);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    text-align: center;
    &::before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
}

  .loader {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 500px;
    height: 100px;
    @include desktop(400px){
        width: 300px;
        font-size: 2.5em;
    }
    overflow: hidden;
    font-family: 'Shrikhand', cursive;
    font-size: 4em;
    .letter{
        display: inline-block;
        transform-origin: bottom ;
        animation: effet-loader 1000ms infinite ;
        @for $i from 1 through 8 {
            &-#{$i} {
                animation-delay: 50ms * $i;
            }
         }
    }
}