.banniere{ 
    margin-bottom: -30px;
    height:300px;
    width: 100%;  
    &_a-la-francaise{
        background: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);  
        background-size: cover;   
    }
    &_la-note-enchantee{
        background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);     
        background-size: cover;
    }
    &_la-palette-du-gout{
        background: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);  
        background-size: cover;   
    }
    &_le-delice-des-sens{
        background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        background-size: cover;
    }
}

.menu{
    background-color:$color-background;
    border-radius: 30px 30px 0 0;
    padding-top: 30px;
    @include flexbox-center(column);
    @include desktop{
        justify-content: flex-start;
    }
    &__title{
        width: 93%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            font-family: 'Shrikhand', cursive;
            font-size: 2em;
        }        
        i{
            width: 25px;
            height: 25px;
            font-size: 1.5em;
        }
    }
    &__section{
        width: 100%;
        @include flexbox-center(column);
        @include desktop{
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 93%;
        }
    }
    &__service{
        width: 93%;
        margin-top: 35px;
        @include desktop{
            width: 30%;
        }
        h2{
            position: relative;
            font-size: 1.4em;
            text-transform: uppercase;
            padding-bottom: 8px;
            &::after{
                position: absolute;
                content: "";
                left: 0;
                bottom: 0px;
                width: 40px;
                height: 2px;
                background-color: $color-tertiary;
            }
        }
    }
    &__btn{
        background: linear-gradient($color-secondary 
            ,$color-primary);
        text-decoration: none;
        color: $color-white;
        height: 50px;
        width: 275px;
        @include flexbox-center;
        border-radius: 25px;
        @include shadow;
        font-size: 1.5em;
        margin-top: 50px;
        margin-bottom: 80px;
        &:hover{
            background: linear-gradient($color-secondary-lighten,$color-primary-lighten);
            @include shadow(15px);
        }
        @include desktop{
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}

.choice{
    background-color: $color-white;
    height: 70px;
    width: 100%;
    border-radius: 20px;
    @include shadow;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{ 
        .choice__description{
            h3{
                width: 80%;
            }
            p{
                width: 70%;
            }
        }
        .choice__price{
            animation: translate-price 300ms both;
        }
        .choice__validate{
            animation: checkbox-validate 300ms both;
            opacity: 1;
        }
        .fa-check-circle{
            animation: rotate-validate 500ms both;
        }
    }
    &__description{
        margin-left: 10px;
        width: 100%;
        h3{
            font-weight: bold;
            font-size: 1.2em;
            white-space: nowrap;overflow: hidden;
            text-overflow: ellipsis;  
            white-space: nowrap;
            @include desktop{
                font-size: 1.1em;
            }
        }
        p{
            font-size: 1em; 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;  
            @include desktop{
                font-size: 0.9em;
            }
        }
    }
    &__price{
        height: 57%;
        font-size: 1.3em;
        font-weight: bold;
        position: absolute;
        top: 35px;
        right: 15px;
        @include desktop{
            font-size: 1.1em;
        }
    }
    &__validate{
        opacity: 0;
        height: 100%;
        width:60px;
        background-color: #99E2D0;
        border-radius: 0 20px 20px 0;
        @include flexbox-center;
        font-size: 2em;
        color: $color-white;
        transform-origin: right;
        @include desktop{
            width: 50px;
            margin-left: 10px;
        }
    }
}

/* Mise en place de l'animation des menus des cartes restaurants */
.entrees{
    transform-origin: top;
    animation: defilement 600ms both;
    @for $i from 1 through 4 {
        .choix#{$i}{
            transform-origin: top;
            animation: defilement 300ms $i*200-100ms both;
        }
    }
}
.plats{
    transform-origin: top;
    animation: defilement 600ms 500ms both;
    @for $i from 1 through 4 {
        .choix#{$i}{
            transform-origin: top;
            animation: defilement 300ms $i*200+400ms both;
        }
    }
}
.desserts{
    transform-origin: top;
    animation: defilement 600ms 1000ms both;
    @for $i from 1 through 4 {
        .choix#{$i}{
            transform-origin: top;
            animation: defilement 300ms $i*200+900ms both;
        }
    }
}